* {
  font-family: Euclid, sans-serif;
}

.center {
  display: block;
  text-decoration: none;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  max-width: 500px;
  max-height: 500px;
  margin: 15px auto;
}

#logo img {
  height: 100%;
  width: 100%;
}

#response-text {
  transition-duration: 200ms;
  opacity: 0;
  visibility: hidden;
}

#response-text.active {
  opacity: 1;
  visibility: visible;
}

#response-button {
  background: #3D94F6;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
  background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFAE00;
  font-family: Brush Script MT;
  font-size: 58px;
  font-weight: 100;
  padding: 35px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  
}

#response-button.active {
  opacity: 1;
  visibility: visible;
}

#response-button:hover {
  cursor: pointer;
  box-shadow: #fcf57a 0px 0px 10px;
}
